<!-- <div class="body1">
  <div class="container">
    <div>
      <label>
        <input type="checkbox" name="" id="">
        <span>Dubai</span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="" id="">
        <span>Dubai</span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="" id="">
        <span>Dubai</span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="" id="">
        <span>Dubai</span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="" id="">
        <span>Dubai</span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="" id="">
        <span>Dubai</span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="" id="">
        <span>Dubai</span>
      </label>
    </div>
  </div>
  <input type="checkbox" name="">

</div> -->



<div layout="column top-left">
  <div>1</div>
  <div> 2</div>
  <div> 3</div>
</div>