// .product-sec1 {
//     box-shadow: 0px 0px 15px 0px #D6D6D6;
// }
// .example-card {
//     max-width: 400px;
//   }
//   .button-card{
//       font-size: 13px;
//       color: #fff;
//       border-radius: 4px;
//       background-color: #0879c9;
//       width: 100%;
//       text-transform: uppercase;
//       box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.45);
//       border: none;
//       padding: 13px;
//       font-weight: 600;
//       outline: none;
//       letter-spacing: 1px;
//   }
//   .button-card:hover{
//       background-color: #000;
//   }
//   .btn-add{
//     width: 56px;
//     height: 56px;
//     padding: 0px;
//     border: none;
//     border-radius: 50%;
//     background-color: #c2185b;

//     color: #fff;
//     cursor: pointer;
//     vertical-align: middle;
//     position: relative;
//     z-index: 1;
//     overflow: hidden;
//     text-transform: none;
//     display: inline-block;
//   }
@media(min-width:640px){
    .container{
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        flex-wrap: wrap;
        padding: 10px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.45);
      /*
        flex-direction: column;
      */
    }
}
.container{
  width: 1337px;
  margin: auto;
}
.container div{
  border: 1px #2196f3 solid;
}
.box{
    flex-basis: 24%;
    margin-top: 1em;
    z-index: 1;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.45);
    border-radius: 4px;

}