<div class="container">
  <div class="box">
    <mat-card>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class=" box">sds
  </div>
  <div class="box">sds</div>
  <div class="box">sda</div>
  <div class="box">asd</div>
  <div class="box">asd</div>
  <div class="box">asd</div>
  <div class="box">
    <mat-card>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- 
<div class="container-1">
  <div class="box-1">
    <h3>Box 1</h3>
    <p>this is Box 1</p>
  </div>
  <div class="box-2">
    <h3>Box 2</h3>
    <p>this is Box 2</p>
  </div>
  <div class="box-3">
    <h3>Box 3</h3>
    <p>this is Box 3</p>
  </div>

</div> -->