<div class="example-table-container">

    <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear
        matSortDirection="desc">

        <ng-container matColumnDef="STT">
            <th mat-header-cell *matHeaderCellDef>STT</th>
            <td mat-cell *matCellDef="let row; let i=index">{{i+1}}</td>
        </ng-container>


        <ng-container matColumnDef="Hoten">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Họ tên</th>
            <td mat-cell *matCellDef="let row">{{row.Hoten}}</td>
        </ng-container>


        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Email</th>
            <td mat-cell *matCellDef="let row">{{row.Email}}</td>
        </ng-container>


        <ng-container matColumnDef="Ngaysinh">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                Ngày sinh
            </th>
            <td mat-cell *matCellDef="let row">{{row.Ngaysinh | date}}</td>
        </ng-container>

        <ng-container matColumnDef="Ten">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                Tên Đăng nhập
            </th>
            <td mat-cell *matCellDef="let row">{{row.Ten}}</td>
        </ng-container>

        <ng-container matColumnDef="Matkhau">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                Mật khẩu
            </th>
            <td mat-cell *matCellDef="let row">{{ row.Matkhau | matkhau }}</td>
        </ng-container>
        <ng-container matColumnDef="SDT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                Số điện thoại
            </th>
            <td mat-cell *matCellDef="let row">{{ row.SDT }}</td>
        </ng-container>
        <ng-container matColumnDef="Chucnang">
            <th mat-header-cell *matHeaderCellDef>
                Chức năng
            </th>
            <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu  #menu="matMenu">
                            <button mat-menu-item (click)="suaKhachhang('add',null)"> 
                                 <mat-icon>add</mat-icon>
                                 Thêm khach hang
                            </button>
                            <button mat-menu-item (click)="suaKhachhang('edit',row)">
                                    <mat-icon>edit</mat-icon>
                                    Sửa khách hàng
                            </button>
                            <button mat-menu-item >
                                    <mat-icon>delete</mat-icon>
                                    Xóa khách hàng
                            </button>
                    </mat-menu>
              

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>


<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>