<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-toolbar color="primary"></mat-toolbar>
        <button color="primary" mat-button routerLink="/khachhang" routerLinkActive="selected"
            [routerLinkActiveOptions]="{exact: true}">Khách hàng</button>
        <button color="primary" mat-button routerLink="/orders" routerLinkActive="selected"
            [routerLinkActiveOptions]="{exact: true}">Sản phẩm</button>
        <button color="primary" mat-button routerLink="/messages" routerLinkActive="selected"
            [routerLinkActiveOptions]="{exact: true}">Tài khoản</button>
    </mat-drawer>
    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Title</span>
                <span class="spacer"></span>
                <span *ngIf="isChao">Xin chào:{{taikhoan}}</span>

                <mat-icon>favorite</mat-icon>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/login">
                        <mat-icon>vpn_key</mat-icon>
                        <samp>Đăng nhập</samp>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>account_balance_wallet
                        </mat-icon>
                        <samp>Tài khoản</samp>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        <samp>Đăng xuất</samp>
                    </button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-drawer-container style="height:88vh" id="#style-2">

            <router-outlet></router-outlet>
        </mat-drawer-container>


    </div>
</mat-drawer-container>