.selected{
    color: #000;
    background-color: antiquewhite;
}
nav a {
    display: inline-block;
    padding: 1em;
    margin-right: 1em;
}
.container{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.container .mat-drawer {
    min-width: 200px;

}
.container .mat-drawer .mat-button {
    display: block;
     width: 100%;
     text-align: left;
}
.spacer {
    flex: 1 1 auto;
}
.mat-drawer-content{
    overflow: hidden !important;
}
.container1{
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
 overflow-y:scroll;
}
.force-overflow
{
	min-height: 450px;
}
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}
