<div class="card">
  <div class="card-header">
    <div class="icon-header">
      <mat-icon>home</mat-icon>
    </div>
  </div>
  <div class="card-content">
    <div class="content">
      <h2>Đăng nhập</h2>
      <form [formGroup]="loginFrom" class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Tên đăng nhập" formControlName="username" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Mật khẩu" formControlName="password">
        </mat-form-field>

        <button (click)="onSubmit()">Đăng nhập</button>
      </form>
    </div>
  </div>
  <div class="card-bottom">
    <a href="#">Quên mật khẩu?</a>
  </div>

</div>



<!-- <div class="container">
  <div class="box">
    <h1>Login</h1>
    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">
    <input type="submit" name="" value="Login">
  </div>
</div> -->