<form [formGroup]="formKhachhang">
    <div layout="column" class="container">
        <h2>Thông tin khach hang</h2>
        <div layout="row center-spread">
            <mat-form-field class="field">
                <input matInput placeholder="Tên Đăng nhập" formControlName="Tendangnhap" />
                <mat-hint align="end">Không quá 30 ký tự</mat-hint>
                <mat-error *ngIf="formKhachhang.get('Tendangnhap').hasError('maxlength')
                           &&formKhachhang.get('Tendangnhap').touched">
                    Độ dài không được quá 30 ký tự
                </mat-error>
                <mat-error
                    *ngIf="formKhachhang.get('Tendangnhap').hasError('required')&&formKhachhang.get('Tendangnhap').touched">
                    Không được để trống</mat-error>
            </mat-form-field>
            <mat-form-field class="field">
                <input type="password" matInput placeholder="Mật khẩu" formControlName="Matkhau" />
                <span matPrefix>
                    <mat-icon>lock</mat-icon>
                </span>
                <mat-error *ngIf="formKhachhang.get('Matkhau').hasError('required')
                &&formKhachhang.get('Matkhau').touched">
                    Không được để trống</mat-error>
                <mat-error
                    *ngIf="formKhachhang.get('Matkhau').hasError('maxlength')&&formKhachhang.get('Matkhau').touched">
                    Mật khẩu quá dài không quá 30 ký tự</mat-error>
            </mat-form-field>
            <mat-form-field class="field">
                <input type="password" matInput placeholder="Nhập lại mật khẩu" formControlName="lapmatkhau" />
                <span matPrefix>
                    <mat-icon>lock</mat-icon>
                </span>
                <mat-error *ngIf="formKhachhang.get('lapmatkhau').hasError('mustMatch')">
                    Mật khẩu không giống</mat-error>
            </mat-form-field>

        </div>
        <div layout="row center-spread">
            <mat-form-field class="field">
                <input matInput placeholder="Họ tên" formControlName="Hoten">
            </mat-form-field>
            <mat-form-field class="field">
                <input type="email" matInput placeholder="Email..." formControlName="Email">
                <mat-hint align="end">vd:nameemail@.xyz.com</mat-hint>
            </mat-form-field>
        </div>
        <div layout="row center-spread">
            <mat-form-field class="field">
                <input [min]="minDate" [max]="maxDate" matInput [matDatepicker]="picker" formControlName="Ngaysinh"
                    placeholder="Chọn ngày sinh" disabled />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker disabled="false" #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="field">
                <input type="text" matInput placeholder="Thành phố" formControlName="Thanhpho">
            </mat-form-field>
        </div>
        <div layout="row center-spread">
            <mat-form-field class="field-full">
                <input matInput placeholder="Quận.." formControlName="Quan">
            </mat-form-field>

        </div>
        <div layout="column">
            <mat-form-field class="field-full">
                <input matInput placeholder="Thị trấn" formControlName="Thitran">
            </mat-form-field>
            <mat-form-field class="field-full">
                <textarea matInput placeholder="Mô tả chi tiết" formControlName="Mota"></textarea>
            </mat-form-field>
        </div>
        <div layout="row">
            <div self="right"><button mat-raised-button (click)="onSubmit()" color="accent">Thêm</button></div>
        </div>
    </div>
</form>