.container{
    max-width: 1000px;
    margin: 15px auto;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0 ,0,0, .4);
    box-sizing: border-box;
}
.field{
width: 49%;
margin: 5px;
}
.field-full{
    width: 100%;
}